NODE_ENV=
PORT=
API_PREFIX
SWAGGER_ENABLED=

LOG_REQUEST_BODY=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

DATABASE_MIGRATIONS_RUN=
DATABASE_LOGGING=

RABBITMQ_ENABLED=
RABBITMQ_URL=
RABBITMQ_PREFETCH=
