NODE_ENV=
PORT=
API_PREFIX
LOG_REQUEST_BODY=
SWAGGER_ENABLED=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

DATABASE_MIGRATIONS_RUN=
DATABASE_LOGGING=

RABBITMQ_ENABLED=
RABBITMQ_URL=
RABBITMQ_PREFETCH=

LEASE_EXPIRY_DAYS=
